Source: planetblupi
Section: games
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Didier Raboud <odyx@debian.org> 
Build-Depends:
 debhelper (>= 10.2.5~),
Standards-Version: 4.1.0
Homepage: http://blupi.org

Package: planetblupi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:
