Source: planetblupi
Section: games
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Didier Raboud <odyx@debian.org> 
Build-Depends:
 debhelper (>= 10.2.5~),
 dh-exec,
 argagg-dev,
Standards-Version: 4.1.1
Homepage: https://blupi.org

Package: planetblupi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 planetblupi-common (>= ${source:Version}),
Description: Planet Blupi - A delirious spell-binding game
 Planet Blupi is a strategy and adventure game. It subtly blends action with
 thought-provoking challenges. Behind the quiet and gentle facade, you'll enjoy
 a fascinating diversion full of surprises.

Package: planetblupi-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends:
 planetblupi (>= ${source:Version})
Description: Planet Blupi - A delirious spell-binding game - data
 Planet Blupi is a strategy and adventure game. It subtly blends action with
 thought-provoking challenges. Behind the quiet and gentle facade, you'll enjoy
 a fascinating diversion full of surprises.
 .
 This package contains the architecture-independent game data.
